{% extends 'base.html' %}

{% block content %}


    <!-- <!doctype html> -->
    <html>
    <!-- <head> -->
    <!-- <meta charset="utf-8"> -->
    <!-- <title>Basic Site Template</title> -->
    <!-- </head> -->

    <body>
    <section class="page-section bg-dark text-white" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">We've got what you need!</h2>
                    <hr class="divider light my-4">
                    <p class="mb-4">Australian Standard Vaccination Schedule</p>
                </div>
            </div>
        </div>
    </section>
    <br>
    <!-- <center ><h4>Australian Vaccine Schedule</h4></center> -->
    <div class="col-md-auto text-center">
        <h4 class="h3 mb-2">Australian vaccine schedule</h4>
    </div>
    <div class="col-md-auto text-center">
        <table id="table">

        </table>
        <br>
        <br>
    </div>
    <div class="col-md-auto text-center">
        <table id="disease">

        </table>
    </div>
    <script>
        let table_data = {{ data|safe }}
            console.log(table_data)

        let disease_data = {{disease|safe }}
            console.log(disease_data)

        function generateTableHead(table, data) {
            let thead = table.createTHead();
            let row = thead.insertRow();
            for (let key of data) {
                let th = document.createElement("th")
                let text = document.createTextNode(key)
                th.appendChild(text)
                row.appendChild(th)
            }
        }

        function generateTableHead2(table, disease) {
            let thead = table.createTHead();
            let row = thead.insertRow();
            for (let key of disease) {
                let th = document.createElement("th")
                let text = document.createTextNode(key)
                th.appendChild(text)
                row.appendChild(th)
            }
        }

        function generateTable2(table, disease) {
            for (let element of disease) {
                let row = table.insertRow();
                for (let key in element) {
                    let cell = row.insertCell()
                    let text = document.createTextNode(element[key])
                    cell.appendChild(text)
                }
            }
        }

        function generateTable(table, data) {
            for (let element of data) {
                let row = table.insertRow();
                for (let key in element) {
                    let cell = row.insertCell()
                    let text = document.createTextNode(element[key])
                    cell.appendChild(text)
                }
            }
        }

        let table = document.querySelector("#table");
        let data = Object.keys(table_data[0]);

        generateTable(table, table_data)
        generateTableHead(table, data)

        let table2 = document.querySelector("#disease");
        let disease = Object.keys(disease_data[0]);
        generateTable2(table2, disease_data)
        generateTableHead2(table2, disease)


    </script>
    <script>
        <!--
        document.body.innerHTML.replace(/y/g, "$"); -->
        <!--
        var elmOperator = $("#" + elm.attr('table_au').replace('y', '$$')); -->
        <!--
        var temp = new String('y'); -->
        <!--
        document.write(temp + '<br/>'); -->
        <!--
        temp = temp.replace(/y/g, '$$'); -->
        <!--
        document.write(temp) -->
        <!--
        var mystr = 'y'; -->
        <!--
        var newstr = mystr.replace(/y/g, "&#x2714"); -->
        <!--
        document.getElementById("table_au").innerHTML = newstr; -->
        <!-- document.write(newstr); -->

    </script>
    <br>

    </body>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            #height: 100%;
            border: 2px solid #ddd;
        }

        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
        }

        th, td {
            text-align: center;
            padding: 0.2px;
        }

        th:first-child, td:first-child {
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        .fa-check {
            color: green;
        }

        .fa-remove {
            color: red;
        }
    </style>
    </html>

{% endblock content %}