{% extends 'base.html' %}

{% block content %}


    <!-- <!doctype html> -->
    <html>
    <!-- <head> -->
    <!-- <meta charset="utf-8"> -->
    <!-- <title>Basic Site Template</title> -->
    <!-- </head> -->

    <body>
    <section class="page-section bg-dark text-white" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Vaccine Check Box</h2>
                    <hr class="divider light my-4">
                    <p class="mb-4">Tips: Click the box to select which vaccine you have taken, then submit the choices
                        to get your own vaccine schedule.
                        The schedule will give you a basic guidence of immunization, which including timeline,vaccine
                        etc.</p>
                </div>
            </div>
        </div>
    </section>
    <br>
    <center><h4>Based on Australian Vaccine Schedule</h4></center>
    <div class="col-md-auto text-center">
        <input class="btn btn-primary 123" type="submit" onclick="AjaxSubmit()"
               value="Getting your own vaccine schedule"
               href="#table_compare">
    </div>

    <form class="form" method="POST">
        {% csrf_token %}
        <div class="row" style="padding-left: 5%;margin-top: 20px">
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="Boostrix®" name="Boostrix®">
                <label class="form-check-label" for="defaultCheck1">
                    Boostrix® (dTpa)
                </label>
            </div>

            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="Adacel®">
                <label class="form-check-label" for="defaultCheck1">
                    Boostrix® or Adacel® (dTpa)
                </label>
            </div>
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="Fluzone®High-Dose">
                <label class="form-check-label" for="defaultCheck1">
                    Fluzone®High-Dose adults
                </label>
            </div>
        </div>

        <div class="row" style="padding-left: 5%;margin-top: 20px">
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="Gardasil®9">
                <label class="form-check-label" for="defaultCheck1">
                    Gardasil®9 (HPV)
                </label>
            </div>

            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="H-B-Vax®">
                <label class="form-check-label" for="defaultCheck1">
                    H-B-Vax® II Paediatric or Engerix® B – Paediatric (Hep B)
                </label>
            </div>
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="Havrix">
                <label class="form-check-label" for="defaultCheck1">
                    Havrix(Hep A)
                </label>
            </div>
        </div>

        <div class="row" style="padding-left: 5%;margin-top: 20px">
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="IPV">
                <label class="form-check-label" for="defaultCheck1">
                    Infanrix® IPV or Quadracel® (DTPa, Polio)
                </label>
            </div>

            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="hexa">
                <label class="form-check-label" for="defaultCheck1">
                    Infanrix® hexa (DTPa, Hep B, Polio, Hib)
                </label>
            </div>
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="MMRII®">
                <label class="form-check-label" for="defaultCheck1">
                    MMRII® or Priorix® (MMR)
                </label>
            </div>
        </div>

        <div class="row" style="padding-left: 5%;margin-top: 20px">
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="Nimenrix®">
                <label class="form-check-label" for="defaultCheck1">
                    Nimenrix® (MenACWY)
                </label>
            </div>

            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="PedvaxHIB®">
                <label class="form-check-label" for="defaultCheck1">
                    PedvaxHIB®
                </label>
            </div>
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="Pneumovax23®">
                <label class="form-check-label" for="defaultCheck1">
                    Pneumovax23® (Pneumococcal)
                </label>
            </div>
        </div>

        <div class="row" style="padding-left: 5%;margin-top: 20px">
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="Prevenar">
                <label class="form-check-label" for="defaultCheck1">
                    Prevenar 13® (Pneumococcal)
                </label>
            </div>

            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="Priorix-Tetra®">
                <label class="form-check-label" for="defaultCheck1">
                    Priorix-Tetra® or ProQuad® (MMRV)
                </label>
            </div>
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="Rotarix®">
                <label class="form-check-label" for="defaultCheck1">
                    Rotarix® (Rotavirus)
                </label>
            </div>
        </div>

        <div class="row" style="padding-left: 5%;margin-top: 20px">
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="Zostavax®">
                <label class="form-check-label" for="defaultCheck1">
                    Zostavax® (Herpes zoster)
                </label>
            </div>
        </div>
    </form>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

    <script>
        // add this part of code to solve csrf problem
        $.ajaxSend(function (event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }

            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });
        // code end


        // ajax function to pass the country value to backend

        function AjaxSubmit() {
            var value = new Array()
            value.push($('input#Boostrix®').is(':checked'))
            value.push($('input#Adacel®').is(':checked'))
            value.push($('input#Fluzone®High-Dose').is(':checked'))
            value.push($('input#Gardasil®9').is(':checked'))
            value.push($('input#H-B-Vax®').is(':checked'))
            value.push($('input#Havrix').is(':checked'))
            value.push($('input#IPV').is(':checked'))
            value.push($('input#hexa').is(':checked'))
            value.push($('input#MMRII®').is(':checked'))
            value.push($('input#Nimenrix®').is(':checked'))
            value.push($('input#PedvaxHIB®').is(':checked'))
            value.push($('input#Pneumovax23®').is(':checked'))
            value.push($('input#Prevenar').is(':checked'))
            value.push($('input#Priorix-Tetra®').is(':checked'))
            value.push($('input#Rotarix®').is(':checked'))
            value.push($('input#Zostavax®').is(':checked'))

            console.log(value)

            $.ajax({
                    url: 'check_box',
                    type: 'POST',
                    data: value,
                })
        }

        // code end
    </script>

    </body>
    <style>

        .form {
            padding: 0 16px;
        {#max-width: 550px;#} margin: 50px auto;
            font-size: 15px;
            font-weight: 600;
            line-height: 36px;
        }

        body {
            background-color: #D1D7DC;
            font-family: 'Fira Sans', sans-serif;
        }

        *,
        *::before,
        *::after {
            box-sizing: inherit;
        }

        html {
            box-sizing: border-box;
        }

        code {
            background-color: #9AA3AC;
            padding: 0 8px;
        }
    </style>
{% endblock content %}