{% extends 'base.html' %}

{% block content %}


    <!-- <!doctype html> -->
    <html>
    <!-- <head> -->
    <!-- <meta charset="utf-8"> -->
    <!-- <title>Basic Site Template</title> -->
    <!-- </head> -->

    <body>
    <section class="page-section bg-dark text-white" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">We've got what you need!</h2>
                    <hr class="divider light my-4">
                    <p class="mb-4">Check the Vaccine</p>
                </div>
            </div>
        </div>
    </section>
    <br>
    <center><h4>Based on Australian Vaccine Schedule</h4></center>

    <form class="form">
        <div class="row" style="padding-left: 5%;margin-top: 20px">
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Boostrix® (dTpa)
                </label>
            </div>

            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Boostrix® or Adacel® (dTpa)
                </label>
            </div>
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Fluzone®High-Dose adults
                </label>
            </div>
        </div>

        <div class="row" style="padding-left: 5%;margin-top: 20px">
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Gardasil®9 (HPV)
                </label>
            </div>

            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    H-B-Vax® II Paediatric or Engerix® B – Paediatric (Hep B)
                </label>
            </div>
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Havrix(Hep A)
                </label>
            </div>
        </div>

        <div class="row" style="padding-left: 5%;margin-top: 20px">
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Infanrix® IPV or Quadracel® (DTPa, Polio)
                </label>
            </div>

            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Infanrix® hexa (DTPa, Hep B, Polio, Hib)
                </label>
            </div>
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    MMRII® or Priorix® (MMR)
                </label>
            </div>
        </div>

        <div class="row" style="padding-left: 5%;margin-top: 20px">
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Nimenrix® (MenACWY)
                </label>
            </div>

            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    PedvaxHIB®
                </label>
            </div>
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Pneumovax23® (Pneumococcal)
                </label>
            </div>
        </div>

        <div class="row" style="padding-left: 5%;margin-top: 20px">
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Prevenar 13® (Pneumococcal)
                </label>
            </div>

            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Priorix-Tetra® or ProQuad® (MMRV)
                </label>
            </div>
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Rotarix® (Rotavirus)
                </label>
            </div>
        </div>

        <div class="row" style="padding-left: 5%;margin-top: 20px">
            <div class="form-check" style="width: 33%">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Zostavax® (Herpes zoster)
                </label>
            </div>
        </div>
    </form>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

    </body>
    <style>

        .form {
            padding: 0 16px;
            {#max-width: 550px;#}
            margin: 50px auto;
            font-size: 15px;
            font-weight: 600;
            line-height: 36px;
        }

        body {
            background-color: #D1D7DC;
            font-family: 'Fira Sans', sans-serif;
        }

        *,
        *::before,
        *::after {
            box-sizing: inherit;
        }

        html {
            box-sizing: border-box;
        }

        code {
            background-color: #9AA3AC;
            padding: 0 8px;
        }
    </style>
{% endblock content %}