{% extends 'base.html' %}

{% block content %}
   
	
    <section class="page-section bg-dark text-white" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Language services</h2>
                    <hr class="divider light my-4">
                    <p class="h4">Free Interpreting Service</p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services_">Find Out More</a>
                </div>
            </div>
        </div>
    </section>
	<section class="tan" id = "services_">
	<div class="container-fluid">
	
        <div class="col pt-2">
            <!-- <h2> -->
                <!-- <a href="overview" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars"></i></a> -->
                <!-- Overview -->
            <!-- </h2> -->
            <!-- <h6 class="hidden-sm-down">Shrink page width to see sidebar collapse</h6> -->
            <strong>The Australia Government recommends the Free Interpreting Service that are not government funded 
			and delivered by The Translating and Interpreting Service <a href="http://www.tisnational.gov.au/">(TIS National)</a>. It provides easy and convenient language services 
			for people who have language barriers when they are engaging and communicating with the Australian Government or essential service. 
			It is easy and quick for the user to register and connect a phone interpreter within a few minutes.</strong>
				<hr>
			<strong>Eligible groups</strong>
			<p>People who belongs to the following groups is free able to access the Free Interpreting Service to provide services to anyone who has a Medicare card: </p>
				<ul>
				<li><a href="https://www.dss.gov.au/settlement-services-programs-policy-settle-in-australia-language-services-free-interpreting-service/free-interpreting-service-for-private-medical-practitioners">Private medical practitioners</a></li>
				<li><a href="https://www.dss.gov.au/settlement-services-programs-policy-settle-in-australia-language-services-free-interpreting-service/free-interpreting-service-for-pharmacies">Pharmacies</a></li>
				<li><a href="https://www.dss.gov.au/settlement-services/programs-policy/settle-in-australia/language-services/free-interpreting-service/free-interpreting-service-for-non-government-organisations">Non-government organisations</a></li>
				<li><a href="https://www.dss.gov.au/settlement-services/programs-policy/settle-in-australia/language-services/free-interpreting-service/free-interpreting-service-for-real-estate-agencies-0">Real estate agencies</a></li>
				<li><a href="https://www.dss.gov.au/settlement-services/programs-policy/settle-in-australia/language-services/free-interpreting-service/free-interpreting-service-for-local-government-authorities-0">Local government authorities</a></li>
				<li><a href="https://www.dss.gov.au/settlement-services/programs-policy/settle-in-australia/language-services/free-interpreting-service/free-interpreting-service-for-trade-unions">Trade unions</a></li>
				<li><a href="https://www.dss.gov.au/settlement-services/programs-policy/settle-in-australia/language-services/free-interpreting-service/free-interpreting-service-for-parliamentarians">Parliamentarians</a></li>
		
				</ul>
			
        </div>
    </div>
</div>
</section>






{% endblock content %}

<!-- Footer -->

  
