{% extends 'base.html' %}

{% block content %}


    <!-- <!doctype html> -->
    <html>
 

    <body>
	<!-- <div class="image-6"> -->
	<!-- <img src="/static/img/au_free.jpg" alt="snow" style="width:100%;height:100%;"> -->
	<!-- </div> -->
	
	 <section class="page-section-2"> 
	 <!-- class="page-section bg-white text-dark"> -->
         <div class="container">
            <div class="row justify-content-center">
			 <div class="col-md-auto text-center">
				<br>
				<br>
				<!-- <h5 class="h5">Free vaccines for migrant children</h5> -->
					<br>
                    <h5>According to the National Immunisation Program (NIP), infants, children, adolescents, adults, and special 
					risk groups are eligible to receive some vaccines for free. 
					The Victorian Government also funds the provision of some vaccines that are not included in the NIP.</h5>
					<h5>After a medical assessment by an immunization provider based on the individual risk to the patient, 
					certain groups of people can get free routine or catch-up vaccines.</h5>
					
                </div>
            </div>
        </div>
    </section>
 
  <br>

    <!-- <center ><h4>Australian Vaccine Schedule</h4></center> -->
    <section id="services_">
        <div class="col-md-auto text-center">
            <h5>For the following people where clinically indicated, free routine and catch-up vaccines are available.</h5>
			<h5>This includes people without Medicare cards:</h5>
            <br>

			<li>People who are under 20 years old are required to start the catch-up immunization schedule on or before their 20th birthday and this can be completed beyond this date.</li>
			<li>All refugees and humanitarian entrants including asylum seekers</li>
			<li>Infants from six months and before 11 months of age can get the MMR vaccine before overseas travel.</li>
			<li>All adults who were born during or since 1966 without evidence of receiving two documented doses of valid MMR vaccine or without serological evidence of immunity can take the MMR vaccine for free.</li>
			<li>All pregnant women can take the influenza vaccine (anytime during pregnancy) and pertussis-containing vaccine (from 20 weeks gestation).</li>
			<li>Australian volunteer wildlife handlers who are working in volunteer service in Victoria for the initial course of pre-exposure rabies vaccine</li>
			<li>People who have been exposed to rabies or Australian Bat Lyssavirus and require treatment.</li>
			
		</div>
    </section>
	<br>
	 <section>
        <div class="col-md-auto text-center">
            <h5>All other people</h5>
			<li>All other people from 20 years of age who do not meet the above criteria, can receive age-appropriate vaccines for free under the <a href="https://www.health.gov.au/initiatives-and-programs/national-immunisation-program">National Immunisation Program</a> and the Victorian funded vaccine program.</li>
			<li><a href="https://www2.health.vic.gov.au/public-health/immunisation/vaccine-order-and-stock/vaccine-order-forms">Vaccine order forms</a></li>
			<li><a href="https://www2.health.vic.gov.au/public-health/immunisation/immunisation-schedule-vaccine-eligibility-criteria/immunisation-schedule-victoria">View the Immunisation Schedule Victoria</a></li>
			<li>Catch-up vaccines should be administered according to age-appropriate guidelines in the online digital version of the <a href="https://immunisationhandbook.health.gov.au/">Australian Immunisation Handbook</a>.</li>
			<li>Even though the vaccine may be free, the clinical administration of the vaccine/s may incur a fee by the vaccination provider.</li>
			
			
		</div>
    </section>
   
    <br>
    <section class="page-section-2">
        <div class="container-fluid text-center">
            <!-- <div class="row jumbotron"> -->
            <div class="col-12">
                <!-- <h2 class="display-5">It would be useful for you to see the comparison table of vaccine schedules between your home country and Australia.</h2> -->
                <p class="lead">
                    It would be useful for you to find your city council where you can get free vacccines for your children without any fees.
                </p>
                <a class="btn btn-primary btn-lg js-scroll-trigger" href="{% url 'city_council' %}">Search</a>
                </a>
            </div>
        </div>

    </section>
    <!-- <div class="col-md-auto text-center"> -->
    <!-- <h5><center>It would be useful for you to see the comparison table of vaccine schedules between your home country and Australia.</center></h5> -->
    <!-- <!-- <h5><center>Click to button to view schedule</center></h5> -->
    <!-- <button type="button" class="btn btn-outline-primary btn-lg"><a href="{% url 'au_schedule' %}">View -->
    <!-- schedule</a></button> -->
    <!-- </div> -->

    <script>
        let table_data = {{ data|safe }}
            console.log(table_data)

     

        function generateTableHead(table, data) {
            let thead = table.createTHead();
            let row = thead.insertRow();
            for (let key of data) {
                let th = document.createElement("th")
                let text = document.createTextNode(key)
                th.appendChild(text)
                row.appendChild(th)
            }
        }


		function generateTable(table, data) {
            for (let element of data) {
                let index = 0;
                let row = table.insertRow();
                for (let key in element) {
                    let cell = row.insertCell()
                    let text = document.createTextNode(element[key])
                    if (index % 4 == 3) {
                        var a = document.createElement('a')
                        a.appendChild(text)
                        a.href = element[key]
                        cell.appendChild(a)
                    } else {
                        cell.appendChild(text)
                    }
                    index++
                }
            }
        }
		
        <!-- function generateTable(table, data) { -->

            <!-- for (let element of data) { -->
                <!-- let row = table.insertRow(); -->
                <!-- for (let key in element) { -->
                    <!-- let cell = row.insertCell() -->
                    <!-- let text = document.createTextNode(element[key]) -->
                    <!-- cell.appendChild(text) -->

                <!-- } -->
            <!-- } -->
        <!-- } -->

        let table = document.querySelector("#table");
        let data = Object.keys(table_data[0]);

        generateTable(table, table_data)
        generateTableHead(table, data)

       


    </script>
    <script>
        <!--
        document.body.innerHTML.replace(/y/g, "$"); -->
        <!--
        var elmOperator = $("#" + elm.attr('table_au').replace('y', '$$')); -->
        <!--
        var temp = new String('y'); -->
        <!--
        document.write(temp + '<br/>'); -->
        <!--
        temp = temp.replace(/y/g, '$$'); -->
        <!--
        document.write(temp) -->
        <!--
        var mystr = 'y'; -->
        <!--
        var newstr = mystr.replace(/y/g, "&#x2714"); -->
        <!--
        document.getElementById("table_au").innerHTML = newstr; -->
        <!-- document.write(newstr); -->

    </script>
    <br>
    <script>
        <!--
        document.body.innerHTML.replace(/y/g, "$"); -->
        <!--
        var elmOperator = $("#" + elm.attr('table_au').replace('y', '$$')); -->
        <!--
        var temp = new String('y'); -->
        <!--
        document.write(temp + '<br/>'); -->
        <!--
        temp = temp.replace(/y/g, '$$'); -->
        <!--
        document.write(temp) -->
        <!--
        var mystr = 'y'; -->
        <!--
        var newstr = mystr.replace(/y/g, "&#x2714"); -->
        <!--
        document.getElementById("table_au").innerHTML = newstr; -->
        <!-- document.write(newstr); -->

    </script>


    </body>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
			margin-left: auto;
			margin-right: auto;
            width: 95%;
            #height: 100%;
            border: 1px solid #ddd;
            line-height: 1.3;
        }

        tr {
            display: table-row;
            vertical-align: left;
            border-color: inherit;
        }

        th, td {
            text-align: center;
            padding: 2px;
            border: 1px solid black;
        }

        th:first-child, td:first-child {
            text-align: left;

        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .fa-check {
            color: green;
        }

        .fa-remove {
            color: red;
        }
    </style>
    </html>

{% endblock content %}