{% extends 'base.html' %}



{% block content %}

    <!-- Masthead -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">Immunisation is important</h1>
                    <hr class="divider my-4">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-3">Immunisation is a simple and effective way of
                        protecting children from serious diseases. It not only helps protect individuals, it also
                        protects the broader community by minimising the spread of disease.</p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services_">Find Out More</a>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <!-- <section class="page-section bg-dark text-white" id="about"> -->
        <!-- <div class="container"> -->
            <!-- <div class="row justify-content-center"> -->
                <!-- <div class="col-lg-8 text-center"> -->
                    <!-- <h2 class="text-white mt-0">We've got what you need!</h2> -->
                    <!-- <hr class="divider light my-4"> -->
                    <!-- <p class="mb-4">The National Immunisation Program Schedule recommends certain vaccinations at -->
                        <!-- certain times. These vaccines are available free of charge for all Australian children. -->
                        <!-- Childhood immunisations are recommended at birth, two months (can be given at six weeks), four -->
                        <!-- months, six months, 12 months, 18 months and four years (can be given at 3 years 6 months).</p> -->
                    <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services_">Get Started!</a> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </section> -->

    <!-- Services Section -->
    <section class="page-section bg-light" id="services_">
        <div class="container">
            <h2 class="text-center mt-0">Our Service</h2>
            <hr class="divider my-4">
            <div class="row">
                <div class="col-lg-6 col-md-2 text-center">
                    <div class="mt-5">
					<br>
                        <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Immunisation schedule in Australia</h3>
                        <br>
                        <!-- <p class="text-muted mb-0">The National Immunisation Program and Victorian immunisation programs</p> -->
                        <!-- <a href="#" class="btn btn-outline-secondary">Quick search</a> -->
                        <button type="button" class="btn btn-outline-primary btn-lg"><a href="{% url 'au_schedule' %}">View
                            schedule</a></button>
                        <!-- <button type="button" class="btn btn-primary btn-lg">Quick search</button> -->
                        <!-- <button type="button" class="btn btn-outline-light btn-lg">VIEW DEMO</button> -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-2 text-center">
                    <div class="mt-5">
					<br>
                        <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Immunisation schedules in the world</h3>
                        <!-- <p class="text-muted mb-0">Compare national immunisation schedules</p> -->
                        <br>
                        <button type="button" class="btn btn-outline-primary btn-lg"><a
                                href="{% url 'compare_schedule' %}">Compare schedules</a></button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-2 text-center">
                    <div class="mt-5">
						<br>
                        <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Find the Special GP in VIC </h3>
                        <!-- <p class="text-muted mb-0">Compare national immunisation schedules</p> -->
                        <br>
                        <button type="button" class="btn btn-outline-primary btn-lg"><a
                                href="{% url 'special_GP' %}">Find the locations</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .mt-5 {
            background-clip: padding-box;
            background-color: #FFF;
            border: 10px solid rgba();
        }
    </style>

{% endblock content %}
  