{% extends 'base.html' %}

{% block content %}
    
	<div id ="slides" class="carousel slide" data-ride="carousel">
	<ul class = "carousel-indicators">
		<!-- <li data-target="#slides" data-slide-to="0"></li> -->
		<!-- <li data-target="#slides" data-slide-to="1" ></li>  -->
		<li data-target="#slides" data-slide-to="2" class="active"></li> 
	</ul>
	<div class="carousel-inner">
	<div class="carousel-item active">
				<img src="/static/img/wordpress-translation.png">
				<div class="carousel-caption-2">			                
			<!-- <h2 class="text-uppercase text-white font-weight-bold">Immunisation is important</h2> -->
				 <h2>Language services</h2> 
				 <!-- <h3>Immunisation is a simple and effective way of -->
                        <!-- protecting children from serious diseases. It not only helps protect individuals, it also -->
                        <!-- protects the broader community by minimising the spread of disease.</h3> -->
	
				<!-- <button type="button" class="btn btn-outline-light btn-lg">VIEW DEMO</button> -->
				<a class="btn btn-primary btn-lg js-scroll-trigger" href="#services_">Find Out More</a>
           
				</div>
		</div>
		
	</div>
	</div>
	
    
	<section class="tan" id = "services_">
	<div class="container-fluid">
	
    <div class="row">
        <div class="col-2 collapse d-md-flex bg-light pt-2 min-vh-100 tan2" id="sidebar">
            <ul class="nav flex-column flex-nowrap tan2">
                <li class="nav-item"><a class="nav-link-2 tan2" href="#services_">Overview</a>
				
				</li>
				
                <li class="nav-item ts">
                    <a class="nav-link-2 tan2 collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Intepreting</a>
                    <div class="collapse" id="submenu1" aria-expanded="false">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item tan2"><a class="nav-link tan2 py-0" href="{% url 'first_intepreting' %}">Free Interpreting </a></li>
							
                            <li class="nav-item tan2">
                                <a class="nav-link tan2 py-1" href="{% url 'second_intepreting' %}">Translating and Interpreting</a>
								</li>
								
                        </ul>
                    </div>
                </li>
				<li class="nav-item">
                    <a class="nav-link-2 tan2 collapsed" href="#submenu2" data-toggle="collapse" data-target="#submenu2">Translating</a>
                    <div class="collapse" id="submenu2" aria-expanded="false">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item"><a class="nav-link tan2 py-0" href="{% url 'third_intepreting' %}">Free Translating</a></li>
                            
                        </ul>
                    </div>
                </li>
                <!-- <li class="nav-item"><a class="nav-link" href="#">Translating</a></li> -->
                <!-- <li class="nav-item"><a class="nav-link" href="#">EXTRA</a></li> -->
            </ul>
        </div>
        <div class="col pt-2">
            <h2>
                <a href="overview" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars"></i></a>
                Overview
            </h2>
            <!-- <h6 class="hidden-sm-down">Shrink page width to see sidebar collapse</h6> -->
            <strong>Australia's multicultural society is made up of migrants who were born in each country over the world. 
			Cultural diversity has always been a part of Australia’s history.
			The society is continuing to become culturally diverse over time.
			With a growing trend of new community that settled in Australia, 
			the nation acquires various new cultural assets, with new cultures, customs, festivals and changes for a greater understanding of the world.</strong>
			<p></p>
			<p>The Australian Government state that each Australian has the right to engage and communicate with 
			the Australian Government and fundamental service regardless of their English ability, their language preference and culture or linguistic background.
			According to the Australian Bureau of Statistics (ABS) survey results, around 660 000 people who were born overseas self-reported as having language barriers in English.

			</p>
		
			<p>The Australian Government provides language services for helping people who have language barriers 
			in English can access the essential services and programs they need in Australian multicultural society. Language services can include:</p>
				<ul>
				<li>engaging a credentialed interpreter either in person, via telephone or video conference </li>
				<li>translation of government documents from English into community languages</li>
				<li>translation of personal documents from a language other than English</li>
				<li>assistance from a bilingual staff member (who has received appropriate training)</li>
				<li>information on websites translated into community languages</li>
				<li>multilingual telephone information</li>
				<li>multimedia resources and other digital media in languages other than English</li>
				</ul>
			
        </div>
    </div>
</div>
</section>


	
   



{% endblock content %}

<!-- Footer -->

  
