{% extends 'base.html' %}

{% block content %}
	
    <div class="image-6">
	<img src="/static/img/all-systems-operational.jpg" alt="snow" style="width:100%;height:100%;">
	<!-- <h2 class="kakdela">We provide information about language services that would be useful for you</h2> -->
	</div>
	
	<!-- <div id ="slides" class="carousel slide" data-ride="carousel"> -->
	<!-- <ul class = "carousel-indicators"> -->
		<!-- <li data-target="#slides" data-slide-to="2" class="active"></li>  -->
	<!-- </ul> -->
	<!-- <div class="carousel-inner"> -->
	<!-- <div class="carousel-item active"> -->
				<!-- <img src="/static/img/all-systems-operational.jpg"> -->
				<!-- <div class="carousel-caption-2">			                 -->
				<!-- <a class="btn btn-primary btn-lg js-scroll-trigger" href="#services_">Find Out More</a> -->
           
				<!-- </div> -->
		<!-- </div> -->
		
	<!-- </div> -->
	<!-- </div> -->
	
    
	<section class="tan" id = "services_">
	<div class="container-fluid">
	
    <div class="row">
        <div class="col-2 collapse d-md-flex bg-light pt-2 min-vh-100 tan2" id="sidebar">
            <ul class="nav flex-column flex-nowrap tan2">
                <li class="nav-item"><a class="nav-link-2 tan2" href="#services_">Overview</a>
				
				</li>
				
                <li class="nav-item ts">
                    <a class="nav-link-2 tan2 collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Intepreting</a>
                    <div class="collapse" id="submenu1" aria-expanded="false">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item tan2"><a class="nav-link tan2 py-0" href="#free_intepret">Free Interpreting </a></li>
							
                            <li class="nav-item tan2">
                                <a class="nav-link tan2 py-1" href="#tai">Translating and Interpreting</a>
								</li>
								
                        </ul>
                    </div>
                </li>
				<li class="nav-item">
                    <a class="nav-link-2 tan2 collapsed" href="#submenu2" data-toggle="collapse" data-target="#submenu2">Translating</a>
                    <div class="collapse" id="submenu2" aria-expanded="false">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item"><a class="nav-link tan2 py-0" href="#free_tran">Free Translating</a></li>
                            
                        </ul>
                    </div>
                </li>
                <!-- <li class="nav-item"><a class="nav-link" href="#">Translating</a></li> -->
                <!-- <li class="nav-item"><a class="nav-link" href="#">EXTRA</a></li> -->
            </ul>
        </div>
        <div class="col">
		
            <h2>
                <a href="overview" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars"></i></a>
                Language Services
            </h2>
            <!-- <h6 class="hidden-sm-down">Shrink page width to see sidebar collapse</h6> -->
            <p>Australia's multicultural society is made up of migrants who were born in each country over the world. 
			Cultural diversity has always been a part of Australia's history.
			The society is continuing to become culturally diverse over time.
			With a growing trend of new community that settled in Australia, 
			the nation acquires various new cultural assets, with new cultures, customs, festivals and changes for a greater understanding of the world.</p>
			<p></p>
			<p>The Australian Government state that each Australian has the right to engage and communicate with 
			the Australian Government and fundamental service regardless of their English ability, their language preference and culture or linguistic background.
			According to the Australian Bureau of Statistics (ABS) survey results, around 660 000 people who were born overseas self-reported as having language barriers in English.

			</p>
		
			<p>The Australian Government provides language services for helping people who have language barriers 
			in English can access the essential services and programs they need in Australian multicultural society. Language services can include:</p>
				<ul>
				<li>engaging a credentialed interpreter either in person, via telephone or video conference </li>
				<li>translation of government documents from English into community languages</li>
				<li>translation of personal documents from a language other than English</li>
				<li>assistance from a bilingual staff member (who has received appropriate training)</li>
				<li>information on websites translated into community languages</li>
				<li>multilingual telephone information</li>
				<li>multimedia resources and other digital media in languages other than English</li>
				</ul>
			<hr>
			<h2 id="free_intepret">
                <a data-target="#sidebar" data-toggle="collapse" class="d-md-none">
				<i class="fa fa-bars"></i></a>
                Free Interpreting Service
            </h2>
			<p>The Australia Government recommends the Free Interpreting Service that are not government funded 
			and delivered by The Translating and Interpreting Service <a href="http://www.tisnational.gov.au/">(TIS National)</a>. It provides easy and convenient language services 
			for people who have language barriers when they are engaging and communicating with the Australian Government or essential service. 
			It is easy and quick for the user to register and connect a phone interpreter within a few minutes.
			</p>
			<p></p>
			
			<p>Eligible groups are people who belong to the following groups is free able to access the Free Interpreting Service to provide services to anyone who has a Medicare card: </p>
				<ul>
				<li><a href="https://www.dss.gov.au/settlement-services-programs-policy-settle-in-australia-language-services-free-interpreting-service/free-interpreting-service-for-private-medical-practitioners">Private medical practitioners</a></li>
				<li><a href="https://www.dss.gov.au/settlement-services-programs-policy-settle-in-australia-language-services-free-interpreting-service/free-interpreting-service-for-pharmacies">Pharmacies</a></li>
				<li><a href="https://www.dss.gov.au/settlement-services/programs-policy/settle-in-australia/language-services/free-interpreting-service/free-interpreting-service-for-non-government-organisations">Non-government organisations</a></li>
				<li><a href="https://www.dss.gov.au/settlement-services/programs-policy/settle-in-australia/language-services/free-interpreting-service/free-interpreting-service-for-real-estate-agencies-0">Real estate agencies</a></li>
				<li><a href="https://www.dss.gov.au/settlement-services/programs-policy/settle-in-australia/language-services/free-interpreting-service/free-interpreting-service-for-local-government-authorities-0">Local government authorities</a></li>
				<li><a href="https://www.dss.gov.au/settlement-services/programs-policy/settle-in-australia/language-services/free-interpreting-service/free-interpreting-service-for-trade-unions">Trade unions</a></li>
				<li><a href="https://www.dss.gov.au/settlement-services/programs-policy/settle-in-australia/language-services/free-interpreting-service/free-interpreting-service-for-parliamentarians">Parliamentarians</a></li>
		
				</ul>
			<hr>
			<h2 id="tai">
                <a data-target="#sidebar" data-toggle="collapse" class="d-md-none">
				<i class="fa fa-bars"></i></a>
                Translating and Interpreting Service (TIS) National
            </h2>
			<p>The TIS National is a language service provider that are managed by the Department of Home Affairs. 
			It provides interpreters for people who are limited or no English language proficiency or for
			institutes and businesses which require communicate with them. </p>
			<p></p>
			<p>TIS National provides telephone interpreting 
			services and on-site interpreting service for 14 hours for the whole day.  
			The Department of Social Services also engages TIS National to deliver the Free Interpreting Service.</p>
			<hr>
			<h2 id="free_tran">
                <a data-target="#sidebar" data-toggle="collapse" class="d-md-none">
				<i class="fa fa-bars"></i></a>Free Translating Service</h2>
			<p>The Free Translating Service support people who are permanent residents and who have selected temporary or provisional in education, employment and community engagement. People settling permanently in Australia are able 
			to have up to ten eligible documents translated into English, within the first two years since their eligible visa grant date. </p>
			<p></p>
			<p>Applications for the Free Translating Service are supposed to apply on 
			<a href="https://translating.dss.gov.au/">Free Translating Service website</a>. The website is available reading in English, Arabic, Farsi and Simplified Chinese. 
			All translations are done by <a href = "https://www.naati.com.au/certification/the-certification-system/">translators credentialed by the National Accreditation Authority for Translators and Interpreters (NAATI)</a></p>
			
        </div>
		
    </div>
	
</div>
</section>


	
   



{% endblock content %}

<!-- Footer -->

  
