{% extends 'base.html' %}

{% block content %}
   
	
    <section class="page-section bg-dark text-white" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Language services</h2>
                    <hr class="divider light my-4">
                    <p class="h4">Translating and Interpreting Service (TIS) National</p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services_">Find Out More</a>
                </div>
            </div>
        </div>
    </section>
	<section class="tan" id = "services_">
	<div class="container-fluid">
	
        <div class="col pt-2">
            <!-- <h2> -->
                <!-- <a href="overview" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars"></i></a> -->
                <!-- Translating and Interpreting Service (TIS) National -->
            <!-- </h2> -->
            <!-- <h6 class="hidden-sm-down">Shrink page width to see sidebar collapse</h6> -->
            <strong>The TIS National is a language service provider that are managed by the Department of Home Affairs. 
			It provides interpreters for people who are limited or no English language proficiency or for
			institutes and businesses which require communicate with them. </strong>
			<hr>
			<strong>TIS National provides telephone interpreting 
			services and on-site interpreting service for 14 hours for the whole day.  
			The Department of Social Services also engages TIS National to deliver the Free Interpreting Service.</strong>
	
			
			
        </div>
    </div>
</div>
</section>






{% endblock content %}

<!-- Footer -->

  
