{% extends 'base.html' %}

{% block content %}

    <section class="page-section bg-dark text-white" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">We've got what you need!</h2>
                    <hr class="divider light my-4">

                    <p class="mb-4">Find your special GPs in VIC</p>

                    <!-- <p class="mb-4"> Catch-up vaccinations</p> -->
                </div>
            </div>
        </div>
    </section>


    <section>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="row">
                <div class="column">
                    <h6>Select one language</h6>
                    <select name="language" id="input">
                        <option value="{{ language }}">{{ language }}</option>
                        <option value="Yiddish">Yiddish</option>
                        <option value="Vietnamese">Vietnamese</option>
                        <option value="Urdu">Urdu</option>
                        <option value="Arabic">Arabic</option>
                        <option value="Ukranian">Ukranian</option>
                        <option value="Teochow">Teochow</option>
                        <option value="Bosnian">Bosnian</option>
                        <option value="Cantonese">Cantonese</option>
                        <option value="Tamil">Tamil</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Slovak">Slovak</option>
                        <option value="Sinhalese">Sinhalese</option>
                        <option value="Croatian">Croatian</option>
                        <option value="Czech">Czech</option>
                        <option value="Serbian">Serbian</option>
                        <option value="Filippino">Filippino</option>
                        <option value="French">French</option>
                        <option value="Russian">Russian</option>
                        <option value="Portugese">Portugese</option>
                        <option value="German">German</option>
                        <option value="Greek">Greek</option>
                        <option value="Polish">Polish</option>
                        <option value="Marathi">Marathi</option>
                        <option value="Mandarin">Mandarin</option>
                        <option value="Gujarati">Gujarati</option>
                        <option value="Hakka">Hakka</option>
                        <option value="Malay">Malay</option>
                        <option value="Macedonian">Macedonian</option>
                        <option value="Hebrew">Hebrew</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Khmer">Khmer</option>
                        <option value="Kannada">Kannada</option>
                        <option value="Hokkien">Hokkien</option>
                        <option value="Hungarian">Hungarian</option>
                        <option value="Italian">Italian</option>
                    </select>
                </div>
                <input type="submit" onclick="AjaxSubmit();" value="submit">
            </div>
            </div>
        </form>
    </section>

    <section>
        <div id="map"></div>
    </section>

    <script>

        function initMap() {

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: {lat: -37.8136, lng: 144.9631}
            });

            // Create an array of alphabetical characters used to label the markers.
            var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

            // Add some markers to the map.
            // Note: The code uses the JavaScript Array.prototype.map() method to
            // create an array of markers based on a given "locations" array.
            // The map() method here has nothing to do with the Google Maps API.
            var markers = locations.map(function (location, i) {
                return new google.maps.Marker({
                    position: location,
                    label: labels[i % labels.length]
                });
            });

            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }

        var locations =
        {{ data|safe }}
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeiQyrCKTbUfD6wEk9yKJxS-ZSqlxFqLQ&callback=initMap"
            type="text/javascript"></script>

    <script>
        // add this part of code to solve csrf problem
        $.ajaxSend(function (event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }

            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });
        // code end

        // ajax function to pass the country value to backend

        function AjaxSubmit() {
            var value = $('select#input option:selected').val()

            if (value == "False") {
                alert("Please select a country or an age group")
            } else {
                $.ajax({
                    url: 'find_GP',
                    type: 'POST',
                    data: value,
                })
            }
        }
        // code end
    </script>

    <style>
        #map {
            width: 100%;
            height: 400px;
            background-color: grey;
        }
    </style>

    <style>
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 30%;
            padding-left: 50px;
            height: 80px; /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>



{% endblock content %}