{% extends 'base.html' %}

{% block content %}
   
	
    <section class="page-section bg-dark text-white" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Language services</h2>
                    <hr class="divider light my-4">
                    <p class="h4">Free Translating Service</p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services_">Find Out More</a>
                </div>
            </div>
        </div>
    </section>
	<section class="tan" id = "services_">
	<div class="container-fluid">
	
        <div class="col pt-2">
            <!-- <h2> -->
                <!-- <a href="overview" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars"></i></a> -->
                <!-- Translating and Interpreting Service (TIS) National -->
            <!-- </h2> -->
            <!-- <h6 class="hidden-sm-down">Shrink page width to see sidebar collapse</h6> -->
            <strong>The Free Translating Service support people who are permanent residents and who have selected temporary or provisional in education, employment and community engagement. People settling permanently in Australia are able 
			to have up to ten eligible documents translated into English, within the first two years since their eligible visa grant date. </strong>
			<hr>
			<strong>Applications for the Free Translating Service are supposed to apply on 
			<a href="https://translating.dss.gov.au/">Free Translating Service website</a>. The website is available reading in English, Arabic, Farsi and Simplified Chinese. 
			All translations are done by <a href = "https://www.naati.com.au/certification/the-certification-system/">translators credentialed by the National Accreditation Authority for Translators and Interpreters (NAATI)</a></strong>
			
			
        </div>
    </div>
</div>
</section>






{% endblock content %}

<!-- Footer -->

  
