{% extends 'base.html' %}

{% block content %}
   
	
    <section class="page-section bg-dark text-white" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Language services</h2>
                    <hr class="divider light my-4">
                    <p class="h4">Free Translating Service</p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services_">Find Out More</a>
                </div>
            </div>
        </div>
    </section>
	<section class="tan" id = "services_">
	<div class="container-fluid">
	<div class="row">
	<div class="col-2 collapse d-md-flex bg-light pt-2 min-vh-100 tan2" id="sidebar"> 
            <ul class="nav flex-column flex-nowrap tan2">
                <li class="nav-item"><a class="nav-link-2 tan2" href="#services_">Overview</a>
				
				</li>
				
                <li class="nav-item ts">
                    <a class="nav-link-2 tan2 collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Intepreting</a>
                    <div class="collapse" id="submenu1" aria-expanded="false">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item tan2"><a class="nav-link tan2 py-0" href="{% url 'first_intepreting' %}">Free Interpreting </a></li>
							
                            <li class="nav-item tan2">
                                <a class="nav-link tan2 py-1" href="{% url 'second_intepreting' %}">Translating and Interpreting</a>
								</li>
								
                        </ul>
                    </div>
                </li>
				<li class="nav-item">
                    <a class="nav-link-2 tan2 collapsed" href="#submenu2" data-toggle="collapse" data-target="#submenu2">Translating</a>
                    <div class="collapse" id="submenu2" aria-expanded="false">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item"><a class="nav-link tan2 py-0" href="{% url 'third_intepreting' %}">Free Translating</a></li>
                            
                        </ul>
                    </div>
                </li>
                <!-- <li class="nav-item"><a class="nav-link" href="#">Translating</a></li> -->
                <!-- <li class="nav-item"><a class="nav-link" href="#">EXTRA</a></li> -->
            </ul>
        </div> 
        <div class="col pt-2">
            <!-- <h2> -->
                <!-- <a href="overview" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars"></i></a> -->
                <!-- Translating and Interpreting Service (TIS) National -->
            <!-- </h2> -->
            <!-- <h6 class="hidden-sm-down">Shrink page width to see sidebar collapse</h6> -->
            <strong>The Free Translating Service support people who are permanent residents and who have selected temporary or provisional in education, employment and community engagement. People settling permanently in Australia are able 
			to have up to ten eligible documents translated into English, within the first two years since their eligible visa grant date. </strong>
			<hr>
			<strong>Applications for the Free Translating Service are supposed to apply on 
			<a href="https://translating.dss.gov.au/">Free Translating Service website</a>. The website is available reading in English, Arabic, Farsi and Simplified Chinese. 
			All translations are done by <a href = "https://www.naati.com.au/certification/the-certification-system/">translators credentialed by the National Accreditation Authority for Translators and Interpreters (NAATI)</a></strong>
			
			
        </div>
		 </div>
    </div>
</div>
</section>






{% endblock content %}

<!-- Footer -->

  
